[Unit]

Description=My bot

After=multi-user.target

 

[Service]

Type=idle

ExecStart=/usr/bin/python /путь/до/скрипта/bot.py

Restart=always

 

[Install]

WantedBy=multi-user.target
